@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap');

*, *::before, *::after { box-sizing: border-box; }
*:not(dialog) { margin: 0; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

/* general */

button {
    user-select: none;
}

fieldset {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;

    th {
        background-color: light-dark(lightskyblue, #537e99);
        text-align: left;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 0.5rem;
    }

    tr:nth-child(even) {
        background-color: light-dark(#f1f1f1, #222);
    }
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

/* specific */

:root {
    --mono-font: 'Source Code Pro', monospace;
    color-scheme: light dark;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 40svh;
}

main {
    padding-inline: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

    margin-inline: auto;
    max-width: 600px;
}

#ipt-grammar {
    font-family: var(--mono-font);
    font-size: 14px;
    resize: none;
    box-sizing: content-box;
    padding: 0.5em;
}

my-controls {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

h-center {
    display: flex;
    justify-content: center;
}

my-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-inline: 1rem;
}

my-h-overflow {
    overflow: auto;
    width: 100%;

    table {
        margin-inline: auto;
    }
}

table {
    font-family: var(--mono-font);
}

#table-pred {
    width: max-content;
}

ol {
    font-family: var(--mono-font);
}

li::marker {
    font-weight: bold;
}

label:has(input[type="checkbox"]) {
    user-select: none;
}

label:has(input[disabled]) {
    opacity: 70%;
    font-style: italic;
}

my-slr-states {
    font-family: var(--mono-font);
}